
/*GENERAL*/

*{ margin: 0; padding: 0; box-sizing: border-box;}

body {
    background-image: url(../IMG/fondopmg.jpg);
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}

header {
  background-image: url(../IMG/Fondo-Header-Flota.jpg  );
    background-size: cover; 
    width: 100%;
 }

     
ul {list-style-type: none;
display: flex;
align-items: center;
gap: 1rem;
margin-right: 40px;

} 

nav { display: flex;
justify-content: space-between;
align-items: center;
}

.logo{ 
    width: 120px;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    background-position: left top;
    background-size: cover;
    margin-left: 30px;
    margin-top: 10px;
}

a {
    text-decoration: none;
color: white;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
text-transform: uppercase;
padding: 0.5rem 0.5rem;
font-size: 20px;
display:block;
border-radius: 5px;
display: flex;
text-decoration: 
}

/*overritee bootstrap*/

a:hover{
  color: #8f6d58;
}

dl, ol, ul {
  margin-bottom: 0;
  padding-left: 0;

}

/*footer*/

footer {
    background-color: black;
    padding: 1em 0;
    text-align: center;
    position: absolute;
    bottom: 0 ;
    width: 100%;
}

.piedepagina {color: white;  
    text-align: center;
    background-position: bottom center;
    display: flex; 
    justify-content: center;
    align-items: center;
}




/*INICIO*/

.fotopmg{
   width: auto;
   margin-top: 30px;
   height: 400px;
   display: block;
   margin: 30px auto;
    }

.titulodefrase{
    background:none;
    color: white;
    display: flex; 
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    font-family: 'Caveat', cursive;
margin-top: -90px;
margin-bottom: 70px;
padding: 10px;
font-size: 50px;
}

.frase
{
    display: flex; 
    justify-content: center;
    align-items: center;
     vertical-align: middle;
     color:    #8f6d58  ;
     background-color: rgba(0,0,0,0.8);
     overflow: hidden;
     box-shadow: 0 0 5px 10px black;
     margin-left: auto;
     margin-right: auto;
     width: 1100px;
     height: 200px;
     font-size: 25px;
     margin-top: 20px;
    text-align: center;
    font-family: 'Caveat', cursive;
    font-weight: bold;
    padding: 50px;
}


/*Servicios*/

.conteiner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: space-evenly;
     justify-content: center;
     align-items: center;
    }

.box {
background-color: rgba(0,0,0,0.8);
flex-basis: 300px;
min-height: 450px;
color: black;
font-size: 20px;
border: 3px solid rgb(#231c1c );
margin: 20px;
box-shadow: 0 0 5px 5px black;
}
h1 {
    display: flex; 
     justify-content: center;
     align-items: center;
     color: white;
    }
.box__texto 
{
    display: flex; 
     justify-content: center;
     align-items: center;
     vertical-align: middle;
     text-align: center;
     color: white;
     margin-top: 10px;
    }

img {width: 100%;}

/*EVENTOS*/

.parent {
  display: grid;
  grid-template-columns: 0.5fr repeat(2, .5fr);
  grid-template-rows: repeat(6, 2fr);
  grid-column-gap: 16px;
  grid-row-gap: 14px;
 padding: 30px;
 
  }
  
  .div1 { grid-area: 1 / 1 / 3 / 2; }
  .div2 { grid-area: 1 / 2 / 2 / 3; }
  .div3 { grid-area: 1 / 3 / 2 / 4; }
  .div4 { grid-area: 2 / 2 / 3 / 3; }
  .div5 { grid-area: 2 / 3 / 3 / 4; }
  .div6 { grid-area: 3 / 1 / 5 / 2; 
  }
  .div7 { grid-area: 3 / 2 / 4 / 3; }
  .div8 { grid-area: 3 / 3 / 4 / 4; }
  .div9 { grid-area: 4 / 2 / 5 / 3; }
  .div10 { grid-area: 4 / 3 / 5 / 4; }
  .div11 { grid-area: 5 / 1 / 7 / 2; }
  .div12 { grid-area: 5 / 2 / 6 / 3; }
  .div13 { grid-area: 5 / 3 / 6 / 4; }
  .div14 { grid-area: 6 / 2 / 7 / 3; }
  .div15 { grid-area: 6 / 3 / 7 / 4; }

/*PRODUCTOS*/

.conteiner3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; 
  justify-content: space-between;
   justify-content: center;
   align-items: center;
   margin-top: 50px;
   gap: 15rem;
  }

.box1 {
background-color: rgba(0,0,0,0.8);
flex-basis: 450px;
min-height: 600px;
color: black;
font-size: 20px;
border: 3px solid rgb(#231c1c );
margin: 20px;
box-shadow: 0 0 5px 5px black;
}
h1 {
  display: flex; 
   justify-content: center;
   align-items: center;
   vertical-align: middle;
   color: white;
  }
.box__texto1
{
  display: flex; 
   justify-content: center;
   align-items: center;
   vertical-align: middle;
   text-align: center;
   color: white;
   margin-top: 10px;
  }


/*CONTACTO*/

form
{
width: 50%;
margin:auto;
background-color: rgba(0,0,0,0.4);
background-size: cover;
padding: 10px 20px;
box-sizing: border-box;
margin-top: 150px;
border-radius: 7px;
  }
  h3{
    color: white;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'Caveat', cursive;
  }

input, textarea
{width: 100%;
margin-bottom: 20px;
padding: 7px;
box-sizing: border-box;
font-size: 17px;
border: none;
}

textarea{
min-height: 100px;
max-height: 200px;
max-width: 100%;
}

#boton{
    background: #31384a;
    color: #fff;
    padding: 20px;
}

#boton:hover{ cursor: pointer;}

@media(max-width: 480px){
    form{
        width: 100%;}
    }

.instagram
{ cursor: pointer;
vertical-align:middle left;
height: 100px;
width: 100px;
}

.whatsapp { cursor: pointer;
  vertical-align:middle right;
  height: 100px;
  width: 100px;
  }

.redessociales{ 
  display: flex; 
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  gap: 100rem;
  margin-bottom: 30px;

}