<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header>
        <nav>
            <picture>
                <img class="logo" src="../img/PMGlobby.jpg" alt="PMG producciones logo">
            </picture>
            <ul class="menu">
            <li class="menu__item">
                <a href="../Inicio.html">Inicio</a>
            </li>
            <li class="menu__item">
                <a href="../Views/Servicios.html">Servicios</a>
            </li>
            <li class="menu__item">
                <a href="../Views/Eventos.html">Eventos</a>
            </li>
            <li class="menu__item">
                <a href="../Views/Productos.html">Productos</a>
            </li>
            <li class="menu__item">
                <a href="../Views/Contacto.html">Contacto</a>
            </li>
        </ul>
        </nav>
            </header>

<form action="">
<h3>Contacto</h3>
<input type="text" name="Nombre"placeholder="Nombre">
<input type="text" name="Correo"placeholder="Correo">
<input type="text" name="Telefono"placeholder="Telefono">
<textarea name="Mensajee" placeholder="Escriba aqui su mensaje" id="" cols="30" rows="10"></textarea>
<input type="button" value="Enviar" id="boton">
</form>

<section class="redessociales">
    <img class="instagram" src="../IMG/Instagram.png" alt="">
    <img class="whatsapp" src="../IMG/Whatsapp.png" alt="">
</section>


<footer class="piedepagina">Copyright © 2022. PMGproducciones. All rights reserved.</footer>
</body>
</html>