<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="./CSS/bootstrap.min.css">
</head>
<body>
    <header>
        <nav>
            <picture>
                <img class="logo" src="../img/PMGLOGO.png" alt="PMG producciones logo">
            </picture>
            <ul class="menu">
            <li class="menu__item">
                <a href="../Inicio.html">Inicio</a>
            </li>
            <li class="menu__item">
                <a href="../Views/Servicios.html">Servicios</a>
            </li>
            <li class="menu__item">
                <a href="../Views/Eventos.html">Eventos</a>
            </li>
            <li class="menu__item">
                <a href="../Views/Productos.html">Productos</a>
            </li>
            <li class="menu__item">
                <a href="../Views/Contacto.html">Contacto</a>
            </li>
        </ul>
        </nav>
            </header>

<form action="">
<h3>Contacto</h3>
<input type="text" name="Nombre"placeholder="Nombre">
<input type="text" name="Correo"placeholder="Correo">
<input type="text" name="Telefono"placeholder="Telefono">
<textarea name="Mensajee" placeholder="Escriba aqui su mensaje" id="" cols="30" rows="10"></textarea>
<input type="button" value="Enviar" id="boton">
</form>

<a href="https://api.whatsapp.com/send?phone=91137678037" class="btn-wsp" target="_blank">
    <i class="icon-whatsapp">
        <img src="../IMG/Whatsapp.png" alt="">
    </i>
       </a>

       <a href="https://www.instagram.com/pmgproducciones/" class="btn-inst" target="_blank">
        <i class="icon-whatsapp">
            <img src="../IMG/Instagram.png" alt="">
        </i>
           </a>
<footer class="piedepagina">Copyright © 2022. PMGproducciones. All rights reserved.</footer>
</body>
</html>