<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="./CSS/bootstrap.min.css">
</head>
<body>
    <header>
        <nav>
            <picture>
                <img class="logo" src="../img/PMGLOGO.png" alt="PMG producciones logo">
            </picture>
            <ul class="menu">
            <li class="menu__item">
                <a href="../Inicio.html">Inicio</a>
            </li>
            <li class="menu__item">
                <a href="../Views/Servicios.html">Servicios</a>
            </li>
            <li class="menu__item">
                <a href="../Views/Eventos.html">Eventos</a>
            </li>
            <li class="menu__item">
                <a href="../Views/Productos.html">Productos</a>
            </li>
            <li class="menu__item">
                <a href="../Views/Contacto.html">Contacto</a>
            </li>
        </ul>
        </nav>
            </header>

            <div class="parent">
                <div class="div1">
                    <img src="../IMG/Imagenes eventos/foto evento 1.JPG" alt=""> 
                </div>
                <div class="div2">
                    <img src="../IMG/Imagenes eventos/foto evento 2.jpg" alt="">
                </div>
                <div class="div3">
                    <img src="../IMG/Imagenes eventos/foto evento 3.jpg" alt="">
                </div>
                <div class="div4"> 
                    <img src="../IMG/Imagenes eventos/foto evento 4.jpg" alt="">
                </div>
                <div class="div5">
                    <img src="../IMG/Imagenes eventos/grid 1.jpg" alt="">
                </div>
                <div class="div6"> 
<img src="../IMG/Imagenes eventos/grid 3.jpg" alt="">
                </div>
                <div class="div7"> 
                    <img src="../IMG/Imagenes eventos/grid 2.jpg" alt="">
                </div>
                <div class="div8"> 
                    <img src="../IMG/Imagenes eventos/grid 4.jpg" alt="">
                </div>
                <div class="div9"> 
                    <img src="../IMG/Imagenes eventos/grid 6.JPG" alt="">
                </div>
                <div class="div10">
                    <img src="../IMG/Imagenes eventos/grid 7.JPG" alt=""> 
                </div>
                </div>


 <footer class="piedepagina">Copyright © 2022. PMGproducciones. All rights reserved.</footer>
</body>
</html>