<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header>
        <nav>
        <picture>
            <img class="logo" src="../img/PMGlobby.jpg" alt="PMG producciones logo">
        </picture>
            <ul class="menu">
            <li class="menu__item">
                <a href="../Inicio.html">Inicio</a>
            </li>
            <li class="menu__item">
                <a href="../Views/Servicios.html">Servicios</a>
            </li>
            <li class="menu__item">
                <a href="../Views/Eventos.html">Eventos</a>
            </li>
            <li class="menu__item">
                <a href="../Views/Productos.html">Productos</a>
            </li>
            <li class="menu__item">
                <a href="../Views/Contacto.html">Contacto</a>
            </li>
        </ul>
        </nav>
            </header>
            
            
            <section class="conteiner3">
                <div class="box1">
                    <img src="../IMG/Cabina normal.jpg" alt="">
                    <h1>Cabina PMG</h1>
                    <p class="box__texto1">Cabina de dj de 3 modulos. RGB</p>
                </div>
                <div class="box1">
                    <img src="../IMG/cabina personalizada.jpg" alt="">
                    <h1>Cabina PMG Personalizada</h1>
                    <p class="box__texto1">Cabina de dj de 3 modulos personalizada.</p>
                </div>


            <footer class="piedepagina">Copyright © 2022. PMGproducciones. All rights reserved.</footer>
</body>
</html>