<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="./CSS/bootstrap.min.css">
</head>
<body>
    <header>
        <nav>
        <picture>
            <img class="logo" src="../img/PMGlobby.jpg" alt="PMG producciones logo">
        </picture>
       
            <ul class="menu">
            <li class="menu__item">
                <a href="../Inicio.html">Inicio</a>
            </li>
            <li class="menu__item">
                <a href="../Views/Servicios.html">Servicios</a>
            </li>
            <li class="menu__item">
                <a href="../Views/Eventos.html">Eventos</a>
            </li>
            <li class="menu__item">
                <a href="../Views/Productos.html">Productos</a>
            </li>
            <li class="menu__item">
                <a href="../Views/Contacto.html">Contacto</a>
            </li>
        </ul>
        </nav>
            </header>

<section class="conteiner">
    <div class="box col-sm-6">
        <img src="../IMG/djweb.jpg" alt="">
        <h1>DJs</h1>
        <p class="box__texto">Djs profesionales</p>
    </div>
    <div class="box col-sm-6">
        <img src="../IMG/sonido.jpg" alt="">
        <h1>Sonido</h1>
        <p class="box__texto">Sonido profesional JBL</p>
    </div>
    <div class="box">
        <img src="../IMG/Iluminacion.jpg" alt="">
        <h1>Iluminacion</h1>
        <p class="box__texto">Iluminacion led de ultima generacion</p>
    </div>
    <div class="box">
        <img src="../IMG/trago.jpg" alt="">
        <h1>Barra de tragos</h1>
        <p class="box__texto">Barra barmans y tragos personalizados</p>
    </div>
    <div class="box">
        <img src="../IMG/catering.jpg" alt="">
        <h1> Catering</h1>
        <p class="box__texto">Una propuesta gastronómica a medida que cuida cada detalle, desde el producto y su elaboración, hasta la presentación del plato. Contamos con varios caterings con opciones vegatarianas y veganas</p>
    </div>
    <div class="box">
        <img src="../IMG/Linvings.jpg" alt="">
        <h1>Ambientacion</h1>
        <p class="box__texto">Alquiler de livings y Gacebos</p>
    </div>
    <div class="box">
        <img src="../IMG/Fotografia.jpg" alt="">
        <h1>Fotografia</h1>
        <p class="box__texto">Dejamos en tu memoria todos los momentos importantes del evento.</p>
    </div>
    <div class="box">
        <img src="../IMG/shows.jpg" alt="">
        <h1>Shows en vivo</h1>
        <p class="box__texto">Dejamos el evento a mano de los mejores cantantes de covers de cumbia y reggaeton para darte un show unico y distinto.</p>
    </div>
    <div class="box">
        <img src="../IMG/Cabina de dj.jpg" alt="">
        <h1>Set Up para DJs</h1>
        <p class="box__texto">Fabricamos equipamiento de calidad para que puedas mejorar tu Set Up</p>
    </div>
</section>

<nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="/inicio.html">Previous</a></li>
      <li class="page-item"><a class="page-link" href="./inicio.html">1</a></li>
      <li class="page-item"><a class="page-link" href="./Views/Servicios.html">2</a></li>
      <li class="page-item"><a class="page-link" href="./Views/Eventos.html">3</a></li>
      <li class="page-item"><a class="page-link" href="./Views/evento.html">Next</a></li>

 <footer class="piedepagina">
 Copyright © 2022. PMGproducciones. All rights reserved.</footer>
</body>
</html>